<!DOCTYPE HTML>
<html>
	<head>
		<title> hackinsta-flask </title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	<body>

		
		<div class="col-xs-4 col-xs-offset-4">
		<form method="POST">
		  <div class="form-group">
		    <label for="url">Inert the URL below</label>
		    <input type="url" class="form-control" id="input" name="iurl" placeholder="Enter image's link" required>
		  </div>
		  <button type="submit" class="btn btn-default">Submit</button>
		</form>		
		</div>


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</body>
</html>
